.formContato {
	width: 90%;
	margin: 0 auto;
	text-align: left;
}

.formContato-validacao {
	display: block;
	text-align: left;
}

.formContato-cta {
	width: 100%;
	margin: 0.5em 0;
}

.formContato-cta {
	margin-top: 1em;
	display: inline-block;
	background: transparent;
	color: #b72e2e;
	border: 1px solid #b72e2e;
	width: 100%;
}

.formContato-cta:hover,
.formContato-cta:focus {
	color: #fff;
	background-color: #b72e2e;
}

.formContato-endereco {
	color: #666;
	margin: 1em 0;
	text-align: center;
}
