.header__menu-hamburguer {
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	left: 0;
}

.blue-menu {
	background-image: url(../img/menu-blue.svg);
}

.white-menu {
	background-image: url(../img/menu-white.svg);
	z-index: -1;
	position: absolute;
}

.header {
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.container {
	display: flex;
	align-items: center;
	position: relative;
}

.container__image {
	padding: 1em;
}

.container__label {
	position: relative;
}

.list-menu {
	display: none;
	position: absolute;
	top: 100%;
	width: 60vw;
}

.container__button:checked ~ .list-menu {
	display: block;
}

.container__button:checked ~ .container__label {
	background: var(--blue-gradient);
}

.container__button:checked ~ .blue-menu {
	z-index: -2 !important;
}

.list-menu__title,
.list-menu__item {
	padding: 1em;
	background-color: var(--white);
}

.list-menu__title {
	color: var(--orange);
	font-weight: 700;
}

.list-menu__link {
	background: var(--blue-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-transform: uppercase;
}

.container__button {
	display: none;
}
